doctype html
html
	head
		title mleko
	body
		form(action="/auth-google-pass")
				div name
					input(type="text", name="login")
				div password
					input(type="text", name="pass")
				button#send Send